[MASTER]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

# workaround https://github.com/PyCQA/pylint/issues/2388
init-hook="import sys; sys.setrecursionlimit(2000)"

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=blacklisted-name,
        invalid-name,
        missing-docstring,
        unneeded-not,
        singleton-comparison,
        misplaced-comparison-constant,
        unidiomatic-typecheck,
        consider-using-enumerate,
        consider-iterating-dictionary,
        bad-classmethod-argument,
        bad-mcs-method-argument,
        bad-mcs-classmethod-argument,
        single-string-used-for-slots,
        line-too-long,
        too-many-lines,
        multiple-statements,
        superfluous-parens,
        bad-whitespace,
        unexpected-line-ending-format,
        bad-continuation,
        wrong-spelling-in-comment,
        wrong-spelling-in-docstring,
        invalid-characters-in-docstring,
        multiple-imports,
        wrong-import-order,
        ungrouped-imports,
        wrong-import-position,
        useless-import-alias,
        len-as-condition,
        bad-option-value,
        function-redefined,
        not-in-loop,
        return-arg-in-generator,
        nonexistent-operator,
        duplicate-argument-name,
        abstract-class-instantiated,
        bad-reversed-sequence,
        too-many-star-expressions,
        invalid-star-assignment-target,
        star-needs-assignment-target,
        nonlocal-and-global,
        continue-in-finally,
        nonlocal-without-binding,
        used-prior-global-declaration,
        misplaced-format-function,
        method-hidden,
        access-member-before-definition,
        no-method-argument,
        no-self-argument,
        inherit-non-class,
        inconsistent-mro,
        duplicate-bases,
        non-iterator-returned,
        unexpected-special-method-signature,
        invalid-length-returned,
        import-error,
        relative-beyond-top-level,
        used-before-assignment,
        undefined-variable,
        undefined-all-variable,
        invalid-all-object,
        no-name-in-module,
        unbalanced-tuple-unpacking,
        unpacking-non-sequence,
        bad-except-order,
        raising-bad-type,
        bad-exception-context,
        misplaced-bare-raise,
        raising-non-exception,
        notimplemented-raised,
        catching-non-exception,
        bad-super-call,
        missing-super-argument,
        no-member,
        not-callable,
        assignment-from-no-return,
        no-value-for-parameter,
        too-many-function-args,
        unexpected-keyword-arg,
        redundant-keyword-arg,
        missing-kwoa,
        invalid-sequence-index,
        invalid-slice-index,
        assignment-from-none,
        not-context-manager,
        invalid-unary-operand-type,
        unsupported-binary-operation,
        repeated-keyword,
        not-an-iterable,
        not-a-mapping,
        unsupported-membership-test,
        unsubscriptable-object,
        unsupported-assignment-operation,
        unsupported-delete-operation,
        invalid-metaclass,
        unhashable-dict-key,
        logging-unsupported-format,
        logging-format-truncated,
        logging-too-many-args,
        logging-too-few-args,
        bad-format-character,
        truncated-format-string,
        mixed-format-string,
        format-needs-mapping,
        missing-format-string-key,
        too-many-format-args,
        too-few-format-args,
        bad-str-strip-call,
        invalid-envvar-value,
        print-statement,
        parameter-unpacking,
        unpacking-in-except,
        old-raise-syntax,
        backtick,
        long-suffix,
        old-ne-operator,
        old-octal-literal,
        import-star-module-level,
        non-ascii-bytes-literal,
        yield-inside-async-function,
        not-async-context-manager,
        fatal,
        astroid-error,
        parse-error,
        method-check-failed,
        raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        locally-enabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        c-extension-no-member,
        literal-comparison,
        comparison-with-itself,
        no-self-use,
        no-staticmethod-decorator,
        cyclic-import,
        duplicate-code,
        too-many-ancestors,
        too-many-instance-attributes,
        too-few-public-methods,
        too-many-public-methods,
        too-many-return-statements,
        too-many-branches,
        too-many-arguments,
        too-many-locals,
        too-many-statements,
        too-many-boolean-expressions,
        consider-merging-isinstance,
        too-many-nested-blocks,
        simplifiable-if-statement,
        redefined-argument-from-local,
        no-else-return,
        consider-using-ternary,
        trailing-comma-tuple,
        stop-iteration-return,
        simplify-boolean-expression,
        inconsistent-return-statements,
        useless-return,
        consider-swap-variables,
        consider-using-join,
        consider-using-in,
        consider-using-get,
        chained-comparison,
        unreachable,
        dangerous-default-value,
        pointless-statement,
        pointless-string-statement,
        expression-not-assigned,
        unnecessary-pass,
        unnecessary-lambda,
        duplicate-key,
        deprecated-lambda,
        assign-to-new-keyword,
        useless-else-on-loop,
        exec-used,
        eval-used,
        confusing-with-statement,
        using-constant-test,
        comparison-with-callable,
        lost-exception,
        assert-on-tuple,
        attribute-defined-outside-init,
        bad-staticmethod-argument,
        protected-access,
        arguments-differ,
        signature-differs,
        abstract-method,
        super-init-not-called,
        no-init,
        non-parent-init-called,
        useless-super-delegation,
        unnecessary-semicolon,
        bad-indentation,
        mixed-indentation,
        lowercase-l-suffix,
        wildcard-import,
        deprecated-module,
        relative-import,
        reimported,
        import-self,
        misplaced-future,
        fixme,
        invalid-encoded-data,
        global-variable-undefined,
        global-variable-not-assigned,
        global-statement,
        global-at-module-level,
        unused-import,
        unused-variable,
        unused-argument,
        unused-wildcard-import,
        redefined-outer-name,
        redefined-builtin,
        redefine-in-handler,
        undefined-loop-variable,
        cell-var-from-loop,
        possibly-unused-variable,
        try-except-raise,
        nonstandard-exception,
        binary-op-exception,
        raising-format-tuple,
        keyword-arg-before-vararg,
        logging-not-lazy,
        logging-format-interpolation,
        logging-fstring-interpolation,
        bad-format-string-key,
        unused-format-string-key,
        bad-format-string,
        missing-format-argument-key,
        unused-format-string-argument,
        format-combined-specification,
        missing-format-attribute,
        invalid-format-index,
        anomalous-backslash-in-string,
        anomalous-unicode-escape-in-string,
        bad-open-mode,
        redundant-unittest-assert,
        deprecated-method,
        bad-thread-instantiation,
        shallow-copy-environ,
        invalid-envvar-default,
        subprocess-popen-preexec-fn,
        next-method-called,
        metaclass-assignment,
        indexing-exception,
        raising-string,
        exception-message-attribute,
        invalid-str-codec,
        xreadlines-attribute,
        deprecated-sys-function,
        exception-escape,
        comprehension-escape,
        import-outside-toplevel,
        no-else-continue,
        no-else-raise,
        no-else-break,
        redeclared-assigned-name,
        self-assigning-variable,
        arguments-out-of-order,
        unnecessary-comprehension,
        simplifiable-if-expression,
        invalid-overridden-method
