language: python
dist: trusty
sudo: false
cache: pip
python:
  - 3.6
env:
  global:
    - PYTHONHASHSEED=0
  matrix:
    - SPLIT=1/3
    - SPLIT=2/3
    - SPLIT=3/3
addons:
  apt:
    packages:
      - libmpc-dev
      - libmpfr-dev
      - libgmp-dev
      - libatlas-dev
      - libatlas-base-dev
      - liblapack-dev
      - gfortran
      - graphviz
stages:
  - quality
  - test
  - deploy
matrix:
  include:
    - python: 3.5
      env: COVERAGE='on' SPLIT='1/3'
    - python: 3.5
      env: COVERAGE='on' SPLIT='2/3'
    - python: 3.5
      env: COVERAGE='on' SPLIT='3/3'
    - stage: quality
      python: 3.5
      env: COVERAGE='on' EXTRA='on'
      install:
        - travis_wait pip install .[exports,plot,interactive,develop,docs]
      script:
        - python setup.py flake8
        - sphinx-build -W -b html docs build/sphinx/html
        - travis_wait py.test --numprocesses 2 --cov diofant diofant/polys
    - stage: test
      python: 3.5
      env: COVERAGE='on' EXTRA='on' DIOFANT_GROUND_TYPES='gmpy'
      install:
        - travis_wait pip install .[exports,develop]
      script:
        - py.test --numprocesses 2 --cov diofant diofant/domains
    - stage: deploy
      env:
        -
      script: skip
      deploy:
        provider: pypi
        user: skirpichev
        password:
          secure: "OCi5YeQKvjr62Yzg1Bq9/xzIVDJSlr3q3YICp/gfnoPxTmiOiOug/QSM0rxl929Rb9hvf/QuNI6bpkPs0lz2roXa0PdJ2pdoNOm5Md2e43htbMRfH54YS98QDxL+gwasr327iGLi++avxF3N+vSyWboJLkSydDDlVhB7k/t57Ig="
        distributions: "sdist bdist_wheel"
        on:
          tags: true
before_install:
  - pip install --upgrade pip setuptools pytest codecov
install:
  - travis_wait pip install .[exports,plot,interactive,gmpy,docs]
before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
script:
  - |
    if [ -n "${COVERAGE}" ]; then
      python setup.py test --addopts "--numprocesses 2 --cov diofant -m \"not slow and not xfail\" --split=${SPLIT}"
    else
      python setup.py test --addopts "--numprocesses 2 --split=${SPLIT}"
    fi
after_success: test -n "${COVERAGE}" && codecov
notifications:
  email: false
