language: python
dist: trusty
sudo: false
cache: pip
python:
  - 3.6
  - 3.7-dev
  - pypy3.5
env:
  global:
    - PYTHONHASHSEED=0
  matrix:
    - SPLIT=1/3
    - SPLIT=2/3
    - SPLIT=3/3
addons:
  apt:
    packages:
      - libmpc-dev
      - libmpfr-dev
      - libgmp-dev
      - libatlas-dev
      - libatlas-base-dev
      - liblapack-dev
      - gfortran
      - graphviz
stages:
  - quality
  - test
  - deploy
matrix:
  include:
    - python: 3.5
      env: SPLIT='1/4' COVERAGE='on'
    - python: 3.5
      env: SPLIT='2/4' COVERAGE='on'
    - python: 3.5
      env: SPLIT='3/4' COVERAGE='on'
    - python: 3.5
      env: SPLIT='4/4' COVERAGE='on'
    - stage: quality
      python: 3.5
      env: COVERAGE='on'
      install:
        - travis_wait pip install .[exports,plot,interactive,develop,docs]
      script:
        - travis_wait python setup.py flake8
        - pylint diofant
        - python setup.py build_sphinx -W -b html
        - |
          if [ "${TRAVIS_EVENT_TYPE}" = "cron" ]; then
            rm -rf build/
            python setup.py build_sphinx -W -b linkcheck
          fi
        - DIOFANT_GROUND_TYPES='gmpy' py.test --cov diofant diofant/domains
        - travis_wait py.test --cov diofant --cov-append diofant/polys
    - stage: deploy
      env:
        -
      script: skip
      deploy:
        provider: pypi
        user: skirpichev
        password:
          secure: "OCi5YeQKvjr62Yzg1Bq9/xzIVDJSlr3q3YICp/gfnoPxTmiOiOug/QSM0rxl929Rb9hvf/QuNI6bpkPs0lz2roXa0PdJ2pdoNOm5Md2e43htbMRfH54YS98QDxL+gwasr327iGLi++avxF3N+vSyWboJLkSydDDlVhB7k/t57Ig="
        distributions: "sdist bdist_wheel"
        on:
          tags: true
  allow_failures:
    - python: pypy3.5
      env: SPLIT=3/3
before_install:
  - pip install --upgrade pip setuptools pytest codecov
install:
  - pip install --pre -U 'gmpy2;platform_python_implementation!="PyPy"'
  - travis_wait pip install .[exports,plot,interactive,docs]
script:
  - |
    if [ -n "${COVERAGE}" ]; then
      python setup.py test --addopts "--cov diofant -m \"not slow and not xfail\" --split=${SPLIT}"
    else
      python setup.py test --addopts "--split=${SPLIT}"
    fi
after_success: test -n "${COVERAGE}" && codecov
notifications:
  email: false
