language: python
env:
  matrix:
  - SPLIT="1/2"
  - SPLIT="2/2"
  - TEST_EXTRA="true"
  - TEST_SLOW="true" SPLIT="1/2"
  - TEST_SLOW="true" SPLIT="2/2"
python:
  - 2.7
  - 3.4
matrix:
  include:
    - python: 2.7
      env:
        - TEST_SPHINX="true"
    - python: "pypy3"
      env:
        - SPLIT="1/2"
    - python: "pypy3"
      env:
        - SPLIT="2/2"
before_install:
  - if [[ "${TEST_SPHINX}" == "true" ]]; then
      sudo apt-get update;
      sudo apt-get install --no-install-recommends graphviz texlive texlive-xetex texlive-fonts-recommended texlive-latex-extra lmodern;
      pip install sphinx==1.2.2 numpydoc==0.5 sphinx_rtd_theme;
    fi
  - if [[ "${TEST_EXTRA}" == "true" ]]; then
      sudo apt-get update;
      sudo apt-get -qq install libgmp-dev libatlas-dev libatlas-base-dev liblapack-dev gfortran;
      travis_wait 30 pip install numpy==1.7.1 scipy==0.12.0 gmpy==1.16 Theano==0.6 pep8==1.6.2;
      travis_wait 30 pip install matplotlib==1.3.1;
    fi
  - pip install pytest==2.7.0
  - if [[ "${TRAVIS_PYTHON_VERSION}" == "2.7" ]]; then
      pip install pytest-cov coveralls --use-mirrors;
    fi
install:
  python setup.py install;
before_script:
  - if [[ "${TEST_EXTRA}" == "true" ]]; then
      sh -e /etc/init.d/xvfb start;
      export DISPLAY=:99.0;
    fi
script:
  - if [[ "${TEST_EXTRA}" == "true" ]]; then
      pep8;
    fi
  - bin/test_travis.sh
after_success:
  - if [[ "${TRAVIS_PYTHON_VERSION}" == "2.7" ]]; then
      coveralls;
    fi
notifications:
  email: false
