[build-system]
requires = ['setuptools>=42', 'wheel', 'setuptools_scm[toml]>=6.0']
build-backend = 'setuptools.build_meta'
[tool.setuptools_scm]
[tool.isort]
lines_after_imports = 2
skip = ['diofant/core/mul.py',
        'diofant/core/expr.py',
        'diofant/__init__.py',
        'diofant/core/__init__.py',
        'diofant/polys/__init__.py']
atomic = true
[tool.pylint.MASTER]
jobs = 0
init_hook = 'import sys; sys.setrecursionlimit(2000)'  # PyCQA/pylint#2388
[tool.pylint.'MESSAGES CONTROL']
disable = ['blacklisted-name',
           'invalid-name',
           'missing-docstring',
           'unneeded-not',
           'singleton-comparison',
           'misplaced-comparison-constant',
           'unidiomatic-typecheck',
           'bad-mcs-method-argument',
           'single-string-used-for-slots',
           'line-too-long',
           'too-many-lines',
           'multiple-statements',
           'superfluous-parens',
           'unexpected-line-ending-format',
           'wrong-spelling-in-comment',
           'wrong-spelling-in-docstring',
           'invalid-characters-in-docstring',
           'wrong-import-position',
           'bad-option-value',
           'not-in-loop',
           'return-arg-in-generator',
           'nonexistent-operator',
           'bad-reversed-sequence',
           'too-many-star-expressions',
           'nonlocal-and-global',
           'nonlocal-without-binding',
           'used-prior-global-declaration',
           'misplaced-format-function',
           'method-hidden',
           'access-member-before-definition',
           'no-method-argument',
           'no-self-argument',
           'non-iterator-returned',
           'relative-beyond-top-level',
           'undefined-variable',
           'no-name-in-module',
           'unbalanced-tuple-unpacking',
           'bad-exception-context',
           'no-member',
           'not-callable',
           'assignment-from-no-return',
           'no-value-for-parameter',
           'assignment-from-none',
           'invalid-unary-operand-type',
           'not-an-iterable',
           'unsubscriptable-object',
           'bad-format-character',
           'truncated-format-string',
           'format-needs-mapping',
           'missing-format-string-key',
           'too-many-format-args',
           'too-few-format-args',
           'bad-str-strip-call',
           'invalid-envvar-value',
           'parameter-unpacking',
           'long-suffix',
           'import-star-module-level',
           'method-check-failed',
           'raw-checker-failed',
           'bad-inline-option',
           'locally-disabled',
           'locally-enabled',
           'suppressed-message',
           'useless-suppression',
           'use-symbolic-message-instead',
           'literal-comparison',
           'comparison-with-itself',
           'no-self-use',
           'no-staticmethod-decorator',
           'cyclic-import',
           'duplicate-code',
           'too-many-ancestors',
           'too-many-instance-attributes',
           'too-few-public-methods',
           'too-many-public-methods',
           'too-many-return-statements',
           'too-many-branches',
           'too-many-arguments',
           'too-many-locals',
           'too-many-statements',
           'too-many-boolean-expressions',
           'too-many-nested-blocks',
           'simplifiable-if-statement',
           'redefined-argument-from-local',
           'no-else-return',
           'consider-using-ternary',
           'trailing-comma-tuple',
           'stop-iteration-return',
           'simplify-boolean-expression',
           'inconsistent-return-statements',
           'chained-comparison',
           'dangerous-default-value',
           'duplicate-key',
           'protected-access',
           'arguments-differ',
           'signature-differs',
           'abstract-method',
           'no-init',
           'unnecessary-semicolon',
           'bad-indentation',
           'mixed-indentation',
           'lowercase-l-suffix',
           'relative-import',
           'fixme',
           'invalid-encoded-data',
           'global-variable-undefined',
           'global-variable-not-assigned',
           'global-statement',
           'global-at-module-level',
           'unused-argument',
           'redefined-outer-name',
           'redefined-builtin',
           'redefine-in-handler',
           'undefined-loop-variable',
           'cell-var-from-loop',
           'possibly-unused-variable',
           'try-except-raise',
           'nonstandard-exception',
           'binary-op-exception',
           'raising-format-tuple',
           'keyword-arg-before-vararg',
           'logging-not-lazy',
           'logging-format-interpolation',
           'logging-fstring-interpolation',
           'bad-format-string-key',
           'unused-format-string-key',
           'bad-format-string',
           'missing-format-argument-key',
           'unused-format-string-argument',
           'format-combined-specification',
           'missing-format-attribute',
           'invalid-format-index',
           'anomalous-backslash-in-string',
           'anomalous-unicode-escape-in-string',
           'bad-open-mode',
           'redundant-unittest-assert',
           'bad-thread-instantiation',
           'shallow-copy-environ',
           'invalid-envvar-default',
           'next-method-called',
           'metaclass-assignment',
           'indexing-exception',
           'raising-string',
           'exception-message-attribute',
           'exception-escape',
           'comprehension-escape',
           'import-outside-toplevel',
           'no-else-continue',
           'no-else-raise',
           'no-else-break',
           'redeclared-assigned-name',
           'arguments-out-of-order',
           'simplifiable-if-expression',
           'invalid-overridden-method',
           'invalid-str-returned',
           'isinstance-second-argument-not-valid-type',
           'missing-final-newline',
           'mixed-line-endings',
           'trailing-whitespace',
           'raise-missing-from',
           'super-with-arguments',
           'consider-using-f-string',
           'consider-using-with',
           'use-implicit-booleaness-not-comparison']
[tool.pytest.ini_options]
doctest_optionflags = ['ELLIPSIS', 'NORMALIZE_WHITESPACE',
                       'IGNORE_EXCEPTION_DETAIL']
addopts = """\
          --durations=20 -r X --doctest-glob='*.rst' \
          --cov-config=pyproject.toml -n auto \
          """
norecursedirs = ['build', '.eggs', '.git']
timeout = 1000
xfail_strict = true
filterwarnings = ['ignore::UserWarning',
                  'error::DeprecationWarning']
[tool.coverage.run]
branch = true
omit = ['conftest.py',
        'diofant/tests/*',
        'diofant/tests/*/*']
parallel = true
[tool.coverage.html]
directory = 'build/coverage/html'
[tool.coverage.report]
exclude_lines = ['pragma: no cover',
                 'except NotImplementedError',
                 'raise NotImplementedError',
                 'return NotImplemented']
show_missing = true
[tool.mypy]
follow_imports = 'silent'
[[tool.mypy.overrides]]
module = ['IPython.*', 'gmpy2', 'matplotlib', 'mpmath.*', 'pexpect',
          'scipy.*', 'traitlets.*']
ignore_missing_imports = true
