Source: sympy
Section: python
Priority: optional
Maintainer: Ondrej Certik <ondrej@certik.cz>
Build-Depends: cdbs (>=0.4.41), debhelper (>= 5), python-central (>= 0.5),  python-all-dev (>=2.3.5-11)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: python-sympy
Architecture: all 
Depends: ${python:Depends}, python-libxslt1 (>= 1.1.17-2), python-libxml2 (>= 2.6.26.dfsg-2)
Recommends: libgtkmathview-bin  
XB-Python-Version: ${python:Versions}
Description: Computer Algebra System (CAS) in Python
 SymPy is a symbolic manipulation package, written in pure Python. Its aim is to
 become a full featured CAS in Python, while keeping the code as simple as
 possible in order to be comprehensible and easily extensible.
 .
  Homepage: http://code.google.com/p/sympy/
