name: binder-badge-nbgitpuller
on:
  pull_request_target:
jobs:
  badge:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - uses: manics/action-binderbadge@v2.0.0
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          environmentRepo: gh/diofant/mybinder-env/main
          updateDescription: true
          urlpath: docs/demo/index.ipynb
          persistentLink: false
