name: test
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 2'
jobs:
  test:
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [ubuntu]
    runs-on: ${{ matrix.os }}-latest
    env:
      TERM: xterm
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install libs
      run: |
        sudo apt update
        sudo apt install libmpc-dev libmpfr-dev libgmp-dev
        sudo apt install libatlas-base-dev liblapack-dev gfortran
        sudo apt install graphviz texlive-xetex texlive-fonts-recommended \
                         fonts-freefont-otf latexmk lmodern
    - name: Install dependencies
      run: |
        pip install -U .[interactive,develop,gmpy,exports,plot,docs]
    - name: Linting with flake8, flake8-rst and pylint
      run: |
        python -We:invalid -m compileall -f diofant -q
        flake8-rst --statistics
        flake8-rst --ignore= --statistics --exit-zero
        flake8 --statistics
        flake8 --ignore= --statistics --exit-zero
        pylint diofant
    - name: Run type checks with mypy
      run: mypy diofant/domains/ diofant/polys/ diofant/tests/domains/ diofant/tests/polys/
    - name: Tests
      env:
        PYTEST_ADDOPTS: --doctest-modules
      run: pytest
    - name: Coverage tests
      if: matrix.python-version == 3.7
      env:
        PYTEST_ADDOPTS: --cov diofant --cov-append -m "not slow and not xfail" --ignore docs
      run: |
        pytest
        pip uninstall -y gmpy2
        DIOFANT_GROUND_TYPES='gmpy' pytest diofant/tests/domains
        pytest diofant/tests/polys
        pip uninstall -y numpy
        pytest diofant/tests/external diofant/tests/utilities
    - name: Upload coverage data
      if: matrix.python-version == 3.7
      run: codecov --required --tries 10
    - name: Building and testing docs
      id: release
      run: |
        python setup.py build_sphinx -W -b html,latex
        make -C build/sphinx/latex all-pdf
        git clone https://github.com/diofant/diofant.github.io.git sphinx_docs
        rm -rf sphinx_docs/.git
        rsync -a --delete build/sphinx/html/ sphinx_docs/en/latest/
        pip install wheel
        python setup.py sdist bdist_wheel
        export VERSION=$(python -c 'import diofant;print(diofant.__version__)')
        echo ::set-output name=version::${VERSION}
        echo ::set-output name=short_version::$(echo ${VERSION}|sed 's/\([0-9]\+\.[0-9]\+\).*$/\1/')
        cp -a build/sphinx/html diofant-docs-html-${VERSION}
        zip -r dist/diofant-docs-html-${VERSION}.zip diofant-docs-html-${VERSION}
        cp -a build/sphinx/latex/diofant.pdf dist/diofant-docs-${VERSION}.pdf
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      if: matrix.python-version == 3.7
      with:
        name: dist
        path: dist
    - name: Upload docs to Github Pages
      if: github.event_name == 'push' && matrix.python-version == 3.7
      uses: peaceiris/actions-gh-pages@v2.5.0
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        EXTERNAL_REPOSITORY: diofant/diofant.github.io
        PUBLISH_BRANCH: master
        PUBLISH_DIR: sphinx_docs
    - name: Publish on Github Releases
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.python-version == 3.7
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASES_DEPLOY_KEY }}
      with:
        files: dist/*
        draft: true
        prerelease: true
        name: "Diofant ${{ steps.release.outputs.version }}"
        body: "See [release notes](https://diofant.readthedocs.io/\
               en/latest/release/notes-${{ steps.release.outputs.short_version }}.html)."
    - name: Cleanup extra artifacts from dist
      if: matrix.python-version == 3.7
      run: rm -f dist/*.pdf dist/*.zip
    - name: Publish package on PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && matrix.python-version == 3.7
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.pypi_password }}
